@model HHclientmanager.Models.Pcl

@{
    ViewData["Title"] = "ClientCompare";
}

<h2>PCL Client Comparison</h2>
<p>Comparing the PCL Assessment of Client #@Model.ClientId to all Client's PCL Results.</p>

<div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Comparing
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SeverityScore)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Client # @Html.DisplayFor(model => model.ClientId)
                </td>
                <td>
                    @Html.DisplayFor(model => model.SeverityScore)
                </td>
            </tr>
            <tr>
                <td>
                    Client Avg
                </td>
                <td>
                    @ViewBag.SeverityScore
                </td>
            </tr>
        <td>
        </td>
        </tbody>
    </table>
</div>
<div>
    <a href="/Clients/Details/@Model.ClientId">Back to Client</a>
</div>
