
@{
    ViewData["Title"] = "Export Person";
}

<h2>Export File of Person</h2>

<p>Please enter the S-Number for the person whose data you’d like to export. <a onclick="window.history.back()">Click here to go back to the last page.</a></p>

<p>S-Number: <input type="text" /> <input type="button" value="Go" /></p>