
@{
    ViewData["Title"] = "Export Group";
}

<h2>Export Group</h2>

<p></p>

<p>Gender: <select>
    <option value="X">Please select an option...</option>
    <option value="F">Female</option>
    <option value="M">Male</option>
    <option value="O">Other</option>
    <option value="TG-F">Transgender Female</option>
    <option value="TG-M">Transgender Male</option>
</select><input type="button" value="Go" /></p>
<p>Race: <select>
     <option value="X">Please select an option...</option>
     <option value="AI-AN">American-Indian/Alaskan Native</option>
     <option value="AS">Asian</option>
     <option value="B-AA">Black/African-American</option>
     <option value="MR">Multi-Racial</option>
     <option value="NH-OPI">Native Hawaiian/Other Pacific Islander</option>
     <option value="O">Other</option>
     <option value="W-C">White/Caucasian</option>
     </select><input type="button" value="Go" /></p>
<p>Ethnicity: <select>
     <option value="X">Please select an option...</option>
     <option value="H">Haitian</option>
     <option value="H-L">Hispanic/Latino</option>
     <option value="ME">Middle Eastern</option>
     <option value="NH-NL">Non-Hispanic/Non-Latino</option>
     <option value="O">Other</option>
     </select><input type="button" value="Go" /></p>