@{
    ViewData["Title"] = "Home Page";
}

<div>
    <a href="/Clients"><h3>Clients</h3></a> |
    <a href="/Ppsrs"> <h3>PPSR Assessments</h3> </a> |
    <a href="/Pcls"> <h3>PCL Assessments</h3> </a> |
    <a href="/Cfars"> <h3>CFAR Assessments</h3> </a> |
</div>
